@font-face {
  font-family: 'BrandonGrotesqueBold';
  src: url('./fonts/BrandonGrotesqueBold.eot');
  src: url('./fonts/BrandonGrotesqueBold.eot') format('embedded-opentype'),
       url('./fonts/BrandonGrotesqueBold.woff2') format('woff2'),
       url('./fonts/BrandonGrotesqueBold.woff') format('woff'),
       url('./fonts/BrandonGrotesqueBold.ttf') format('truetype'),
       url('./fonts/BrandonGrotesqueBold.svg#BrandonGrotesqueBold') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueRegular';
  src: url('./fonts/BrandonGrotesqueRegular.eot');
  src: url('./fonts/BrandonGrotesqueRegular.eot') format('embedded-opentype'),
       url('./fonts/BrandonGrotesqueRegular.woff2') format('woff2'),
       url('./fonts/BrandonGrotesqueRegular.woff') format('woff'),
       url('./fonts/BrandonGrotesqueRegular.ttf') format('truetype'),
       url('./fonts/BrandonGrotesqueRegular.svg#BrandonGrotesqueRegular') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueLight';
  src: url('./fonts/BrandonGrotesqueLight.eot');
  src: url('./fonts/BrandonGrotesqueLight.eot') format('embedded-opentype'),
       url('./fonts/BrandonGrotesqueLight.woff2') format('woff2'),
       url('./fonts/BrandonGrotesqueLight.woff') format('woff'),
       url('./fonts/BrandonGrotesqueLight.ttf') format('truetype'),
       url('./fonts/BrandonGrotesqueLight.svg#BrandonGrotesqueLight') format('svg');
}

@font-face {
  font-family: 'BrandonGrotesqueMedium';
  src: url('./fonts/BrandonGrotesqueMedium.eot');
  src: url('./fonts/BrandonGrotesqueMedium.eot') format('embedded-opentype'),
       url('./fonts/BrandonGrotesqueMedium.woff2') format('woff2'),
       url('./fonts/BrandonGrotesqueMedium.woff') format('woff'),
       url('./fonts/BrandonGrotesqueMedium.ttf') format('truetype'),
       url('./fonts/BrandonGrotesqueMedium.svg#BrandonGrotesqueMedium') format('svg');
}

@font-face {
  font-family: 'WreathHalftone';
  src: url('./fonts/Wreath-HalMed.eot');
  src: url('./fonts/Wreath-HalMed.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Wreath-HalMed.woff2') format('woff2'),
      url('./fonts/Wreath-HalMed.woff') format('woff'),
      url('./fonts/Wreath-HalMed.ttf') format('truetype'),
      url('./fonts/Wreath-HalMed.svg#Wreath-HalMed') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: linear-gradient(0deg, #182d42 0%, #132735 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#confeti {
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Gift-not-opened {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  60% {
    transform: rotateZ(10deg);
  }
  70% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes Gift-open-cover {
  0% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  
  }
  10% {
    transform: translateY(-50px) rotateY(0);
    opacity: 1;
  }
  30% {
    transform: translate(-200px, -60px) rotate(-30deg);
    opacity: 1;
  }
  60% {
    transform: translate(-300px, -10px) rotate(-40deg);
    opacity: 0;
  }
  100% {
    transform: translate(-300px, -10px) rotate(-40deg);
    opacity: 0;
  }
}

@keyframes Gift-open-confeti {
  0% {
    transform: translateY(20px) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translateY(20px) scale(0.3);
    opacity: 0;
  }
  40% {
    transform: translateY(-20px) scale(1);
    opacity: 1;
  }
  60% {
    transform: translateY(-50px) scale(1.4);
    opacity: 0;
  }
  100% {
    transform: translateY(-50px) scale(1.4);
    opacity: 0;
  }
}

@keyframes Gift-open {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Gift-shake {
  0% { transform: translate(1px, -71px) rotate(0deg); }
  10% { transform: translate(-1px, -69px) rotate(-1deg); }
  20% { transform: translate(-3px, -70px) rotate(1deg); }
  30% { transform: translate(3px, -69px) rotate(0deg); }
  40% { transform: translate(1px, -71px) rotate(1deg); }
  50% { transform: translate(-1px, -69px) rotate(-1deg); }
  60% { transform: translate(-3px, -68px) rotate(0deg); }
  100% { transform: translate(1px, -69px) rotate(0deg); }
}

.gift-shake {
  animation: Gift-shake .5s linear!important;
}

.gift-animate {
  animation: Gift-open 2s linear!important;
}

.gift-animate #gift-cover {
  animation: Gift-open-cover 2s linear;
}

.gift-animate #confeti {
  transform-origin: center bottom;
  animation: Gift-open-confeti 2s linear;
}